/* General Styles */

* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121826;
    color: white;
}

/* Only for mobile screens */
@media (max-width: 768px) {     
    body {
        padding-bottom: 70px; 
    }
}

/* Header Styles */
header {
    background-color: #272632;
    width: 100%;
    top: 0;
    color: #fff;
    padding: 15px;
    display: flex;
    position: fixed;
    align-items: center;
    z-index: 2;
}

header img {
    width: 40px;
}

header h1 {
    margin: 0;
    font-size: 25px;
    
}

nav {
    display: flex;
    padding: 0 10px;
    position: relative;
    margin-left: auto;
}

nav a {
    color: #000;
    text-decoration: none;
    margin-left: 10px;
    border-radius: 7px 0;
    background-color: #fff;
    padding: 5px 13px;
}

nav a:hover {
    color: #fff;
    background-color: #0033ff;
}

header .pro {
    margin-top: 5px;
}
header .pro img {
    display: none;
    width: 35px;
    margin-left: 90px;
}

@media (max-width: 768px) {
    header{
        padding-bottom: 12px;
        padding-top: 18px;
    }
    header h1 {
        margin-bottom: 10px;
        margin-right: 0;
        margin-left: 5px;
    }
    header img {
        margin-top: -10px;
        color: #000; 
    }
    nav {
        display: none;
    }
    header .pro img {
        display: flex;
    }
}


/* ----------------Settings popup -------------*/
.popup {
    display: none;
    position: fixed;
    top: 305px;
    right: -30px;
    transform: translate(-50%, -50%);
    background: #222;
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.light-mode {
    background: white;
    color: #000;
}

.popup button {
    width: 98%;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    text-align: center;
    padding: 5px 14px;
    background: white;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    font-size: 1rem;
}

/*------------- Sound effects on/off button------------*/
.sound-btn p {
    width: 98%;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    text-align: center;
    padding: 5px 14px;
    background: white;
    border: none;
    border-radius: 20px;
    color: black;
    font-size: 1rem;
}

#sound-btn{
    position: absolute;
    top: 136px;
    right: 50px;
    background: #ccc;
    width: 40px;
    border-radius: 15px;
    padding: 2px 3px;
    cursor: pointer;
    display: flex;
    transition: padding-left 0.5s, background 0.5s;
}

#sound-btn span{
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    display: inline-block;
}

#sound-btn.sound-btn-on{
    padding-left: 23px;
    background: #2c2c2c;
}


/*-----------sound effects control interface-------------*/
.sound-effects-control {
    margin-top: 20px;
}
.control-knob {
    display: inline-block;
    margin: 10px;
}
.control-knob label {
    display: block;
    text-align: center;
}
.equalizer {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 25px;
}
.equalizer-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.equalizer-slider input {
    writing-mode: bt-lr; /* IE */
    appearance: slider-vertical; /* Standard */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 100px;
}

@media (max-width: 768px) {
    .popup {
        width: 350px;
        max-width: 100%;
        margin-top: 10%;
        left: 180px;
    }
    .control-knob {
        display: inline-block;
        margin: 8px;
    }
    .equalizer-slider {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    
}

/* --------------Volume Control--------------*/
.volume-control {  
    display: flex;
    align-items: center; 
}

.volume-control img{
    height: 25px;
    font-size: 20px;
    margin-left: auto;
    margin-right: 5px;
}

#volume-slider {
    width: 120px;
    cursor: pointer;
    accent-color: blue; 
}

@media (max-width: 768px) {
    .volume-control img {
        margin-left: 20px;
    }
    .stats-dashboard{
        display: none;
    }
}

/* ------------------Now Playing Section---------------- */
.now-playing {
    display: grid;
    position: relative;
    margin: 20px;
    padding-top: 50px;
}

.player {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    background-color: #1e293b;
    padding: 15px;
    border-radius: 8px;
    overflow: hidden; 
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease, background 0.3s ease;;
}

.song-info {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    z-index: 1; /* Keep text above visualizer */
    overflow: hidden;
}

.song-info img {
    width: 100px;
    height: 100px;
    margin-left: 10px;
    border-radius: 5px;
}

.song-info h3 {
    margin: 0;
    font-size: 18px;
    color: #fff;
    overflow: hidden;
}

.song-info p {
    margin: 0;
    font-size: 15px;
    color: #94a3b8;
    overflow: hidden;
}

.controls button {
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.controls button:hover {
    opacity: 0.8;
}


/* ----------------Visualizer Styling------------------- */
#visualizer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px; /* Adjust as per design */
    z-index: 0; /* Keep it behind controls */
    pointer-events: none; /* Prevent interactions */
}

/* --------------Music Control--------------*/
.seek-bar-container {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.seek-bar-container span {
    margin-left: 10px;
    margin-right: 10px;
}

#seek-bar {
    flex-grow: 1;
    appearance: none;
    height: 5px;
    background: #9c9c9c;
    border-radius: 2px;
    cursor: pointer;
}

#seek-bar::-webkit-slider-thumb {
    appearance: none;
    width: 13px;
    height: 13px;
    background: #0033ff;
    border-radius: 50%;
}

/* --------Responsive Design------------ */
@media screen and (max-width: 768px) {
    .player {
        display: flex;
        position: fixed;
        margin-left: -12px;
        max-width: 96%;
        padding: 10px;
        width: 500px;
        top: 81%;
        border-radius: 5px;
        background-color: #ffffff;
        z-index: 1;
    }
    .song-info {
        gap: 0px;
    }
    .song-info img {
        width: 50px;
        height: 50px;
        border-radius: 5px;
    }
    .song-info h3{
        position: relative;
        margin-left: 10px;
        color: #000;
        height: 20px;
        width: 120px;
        overflow: hidden;
    }
    .song-info p {
        display: none;
    }
    .controls button {
        position: relative;
        margin-left: 0;
        color: #000;
        z-index: 1;
    }

    .seek-bar-container {
        z-index: 1;
        position: fixed;
        top: 72%;
        max-width: 96%;
        width: 500px;
        margin-left: -12px;
        border-radius: 5px;
        background-color: #fff;
        height: 30px;
    }
    .seek-bar-container span {
        color: #000;
    }
    #seek-bar {
        color: #000;
    }
    #seek-bar::-webkit-slider-thumb {
        background: #0033ff;
    }

    #visualizer {
        height: 25px;
    }
    .library-section {
        margin-top: -50px;
    }
    .footer-container {
        padding-bottom: 100px;
    }
}

/* -------- Listening stats deshboard----*/
.stats-dashboard {
    text-align: center;
    background: #1e293b;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    margin-top: 40px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease, background 0.3s ease;
}

.stats-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.stat-card {
    display: inline-block;
    text-align: center;
    background: #222;
    overflow: hidden;
    padding: 15px;
    border-radius: 8px;
    width: 250px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
}

.stat-card h3 {
    margin-bottom: 10px;
}

.stat-card p {
    font-weight: bold;
    color: #61646d;
}

/* ------------------Library Section----------------- */
.library-section {
    padding: 20px;
}

.library {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.song-card {
    background-color: #1e293b;
    color: #fff;
    border-radius: 10px;
    overflow: hidden;
    text-align: left;
    padding: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease, background 0.3s ease;
}

.song-card img {
    width: 100%;
    height: 150px; 
    object-fit: cover;
}

.card-content {
    padding: 10px;
}

.song-card h3 {
    font-size: 16px;
    font-weight: bold;
}

.song-card p {
    font-size: 14px;
    color: #94a3b8;
    text-transform: uppercase;
}
.song-card:hover {
    background-color: #334155;
    transition: 0.3s;
}

/* -----------------Playlist Section------------------ */
.playlists-section {
    padding: 20px;
}

.playlist-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.playlist-card {
    background-color: #1e293b;
    color: #fff;
    border-radius: 10px;
    overflow: hidden;
    text-align: left;
    padding: 10px;
    text-transform: uppercase;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease, background 0.3s ease;
}

.playlist-card img {
    width: 100%;
    height: 150px; 
    object-fit: cover;
}

.playlist-card-content {
    padding: 10px;
}

.playlist-card h3 {
    font-size: 16px;
    font-weight: bold;
}

.playlist-card p {
    font-size: 14px;
    color: #94a3b8;
}
.playlist-card:hover {
    background-color: #334155;
    transition: 0.3s;
}


/* --------------Footer Styles------------------ */
.footer-container {
    background-color: #272632;
    color: #fff;
    padding: 30 0px;
    margin-bottom: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}

.footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 2px solid #0033ff;
    border-bottom: 2px solid #0033ff;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}

.social-icons {
    display: flex;
    gap: 35px;
    margin: 10px 0;
    font-size: 24px;
    transition: color 0.3s;
}

.social-icon {
    color: #fff;
}
.social-icon:hover {
    color: #0033ff;
}

.copyright {
    font-size: 14px;
    margin-bottom: 0;
    text-align: center;
    color: #696161;
}

.back-to-top {
    background-color: #0033ff;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    transition: opacity 0.3s;
}

.back-to-top:hover {
    background-color: #fff;
    color: #ff8c00;
}

@media (max-width: 768px) {
    .footer-container {
        margin-bottom: 0px;
        padding: 0 0px;
    }
    .copyright {
        padding-bottom: 100px;
    }
}
/*-----Footer icons Home, library, playlist, settins -----*/
.mobile-footer {
    position: fixed;
    display: flex;
    bottom: -1px;
    left: 0;
    width: 100%;
    background: #fff;
    justify-content: space-around;
    align-items: center;
    padding: 12px 0;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.footer-item {
    text-align: center;
    color: #0033ff;
    font-size: 14px;
}

.footer-item a {
    text-decoration: none;
    color: #0033ff;
    font-size: 25px;
    margin-bottom: 0px;
}

.footer-item p {
    margin-top: 5px;
    margin-bottom: -5px;
}

/* --------Mobile Only----------- */
@media (min-width: 768px) {
    .mobile-footer {
        display: none;
    }
}
